/.venv
/output
/~
/slr/asl-signs
/slr/checkpoints
/slr/__pycache__
/pose_extract/__pycache__
slr/asl-signs.zip
/slr/sgsl
BaseModel_Performance.png
Data_augmentation_flip_rotation_temporal.mp4
Data_augmentation_temporal_masking.mp4
Data_augmentation_rotation_shoulder_elbow.mp4
BaseModel_Performance.png
SeqLen_ASL.png
/slr/actual_signers_sgsl
/slr/daniel_model
/slr/evaluation_logs
/slr/Full Vids
/slr/manual
